<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">

    <title>UsedPC</title>
</head>

<body>
    <div id="app">

        <header class="top">
            <div class="jumbotron text-center" style="margin-bottom: 0px">
                <a class="name" href="index.html">
                    <h1>UsedPC</h1>
                </a>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <span class="navbar-brand">Kategóriák</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav categories">
                        <li v-for="cat in categories" style="padding:10px" @click="changeCategory(cat)">
                            <a v-if="cat == currentCategory" href="#" class="nav-link active">
                                {{cat.name}}
                            </a>
                            <a v-else href="#" class="nav-link">
                                {{cat.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container-fluid">
            <div class="row">
                <div id="listOfFilters" class="col-sm-3">
                    <div>
                        <div>
                            <center>
                                <button class="btn btn-primary" style="margin:25px">Találatok szűrése</button>
                            </center>
                            <h5>Keresés</h5>
                            <input type="text" name="searched" class="form-control" id="searchedText" v-model="searchText">
                        </div>   
                    </div>
                </div>

                <div id="results" class="col-sm-9">
                    <div class="adCard" v-for="p in products">
                        <div class="title_">{{p.title}}</div>
                        <div class="row">

                            <!-- placeholder image insted of the real one -->
                            <div class="col-sm-2">
                                <!-- <img class="img-fluid picture" :src="p.image_url" alt="Hirdetés képe"> -->
                                <img class="img-fluid picture" src="https://via.placeholder.com/100" alt="Hirdetés képe">
                            </div>

                            <div class="priceN col-sm-10">
                                <div style="margin-top:10px;">Ár: <span class="priceV">{{p.price}} Ft</span><br></div>
                                Link: <a v-bind:href="p.url" target="_blank" class="urlV">{{p.url}}</a><br>
                                <div style="margin-top:10px;">Ellenőrizve: <span class="checkV">{{ timestampToNumberOfDays(p.timeStamp) }} napja</span></div>
                            </div>
                        </div>
                        <div style="text-align:justify">{{ p.description }}</div>
                    </div>
                    <div class="adCard" v-if="products.length === 0">
                        <center>
                            no results
                        </center>
                    </div>
                    <div class="adCard" style="text-align: center">
                            <button style="margin:5px;" class="btn btn-primary" @click="currentPage = 1" v-if="currentPage > PAGE_COUNT + 1">first</button>
                            <button style="margin:5px;" class="btn btn-primary" @click="currentPage -= 1" v-if="currentPage > 1">previous</button>
                            <button style="margin:5px;" class="btn btn-primary" v-for="i in PAGE_COUNT" v-if="currentPage - (PAGE_COUNT + 1 - i) > 0" @click="currentPage -= PAGE_COUNT + 1 - i">
                                {{currentPage - (PAGE_COUNT+1 - i)}}
                            </button>
                            <span class="btn btn-secondary">{{currentPage}} </span>
                            <button style="margin:5px;" class="btn btn-primary" v-for="i in PAGE_COUNT" @click="currentPage += i">{{currentPage + i}} </button>
                            <button style="margin:5px;" class="btn btn-primary" @click="currentPage += 1">next</button>
                

                        <!-- <button style="margin:5px;" @click="newPage(n)" name="ResultsFrom" v-for="n in Math.ceil(resultsLength/itemsPerPage)" class="btn btn-primary">{{n}}</button> -->
                    </div>
                </div>
            </div>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash/lodash.js"></script>
    
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                API_BASE_URL: 'http://46.101.165.79:5000',

                URL_PARAMS: {
                    SEARCH: 'search',
                    CATEGORY: 'category',
                    PAGE_FROM: 'page'
                },

                PAGE_COUNT: 3,

                currentPage: 1,

                searchText: "",

                categories: [
                    { name: 'Alaplap' },
                    { name: 'RAM', search: 'memória' },
                    { name: 'Hűtés' },
                    { name: 'Ház' },
                    { name: 'Táp' },
                    { name: 'Videókártya', search: 'videokártya' },
                    { name: 'HDD' },
                    { name: 'SSD' },
                    { name: 'Optikai meghajtó' },
                    { name: 'Komplett gép' },
                    { name: 'Minden', search: ' ' },
                ],
                currentCategory: null,
                defaultCategoryIndex: 10,

                products: [],
            },

            watch: {
                searchText: function (text) {
                    console.log('searchText changed');
                    this.setUrlParam(this.URL_PARAMS.SEARCH, text, '');
                    this.loadProducts();
                },
                currentPage: function (pag) {
                    console.log('currentPage changed');
                    this.setUrlParam(this.URL_PARAMS.PAGE_FROM, pag, 1);
                    this.loadProducts();
                },
                currentCategory: function (category) {
                    console.log('currentCategory changed');
                    this.setUrlParam(this.URL_PARAMS.CATEGORY, category.name, 'Minden');
                    this.loadProducts();
                }
            },

            computed: {
                getRequestParameters: function () {
                    let params = {};

                    if (this.currentCategory.name !== 'Minden') {
                        params['category'] = this.currentCategory.search || this.currentCategory.name;
                    }

                    if (this.searchText) {
                        params['title'] = this.searchText;
                    }

                    if (this.currentPage !== 1) {
                        params['pageFrom'] = this.currentPage - 1;
                        params['pageTo'] = this.currentPage;
                    }
                    return params;
                }
            },

            methods: {
                timestampToNumberOfDays: function (timestmap) {
                    var date1 = new Date(timestmap * 1000);
                    var date2 = new Date();
                    var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                    return diffDays;
                },

                setUrlParam: function (key, value, defaultValue) {
                    var searchParams = new URLSearchParams(window.location.search);
                    if (value !== defaultValue) {
                        searchParams.set(key, value);
                    } else {
                        searchParams.delete(key);
                    }
                    var newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
                    history.replaceState(null, '', newRelativePathQuery);
                },

                changeCategory: function (category) {
                    this.currentCategory = category;
                },

                loadProducts: _.debounce(function () {
                    this.products = [];

                    let params = this.getRequestParameters;
                    console.log("sending request with params:", params);

                    axios.get(this.API_BASE_URL + "/api/product/search", {
                        params: params
                    })
                    .then((response) => {
                        this.products = response.data;
                    });
                }, 200),

                loadCategoryFromUrl: function (searchParams) {
                    let cat = searchParams.get(this.URL_PARAMS.CATEGORY);
                    if (cat) {
                        this.currentCategory = this.categories.find(c => c.name == cat);
                    }
                    if (this.currentCategory == null) {
                        this.currentCategory = this.categories[this.defaultCategoryIndex];
                    }
                },

                loadSearchFromUrl: function (searchParams) {
                    let search = searchParams.get(this.URL_PARAMS.SEARCH);
                    if (search) {
                        this.searchText = search;
                    }
                },

                loadPageNumber: function (searchParams) {
                    let page_from = searchParams.get(this.URL_PARAMS.PAGE_FROM);
                    if (page_from) {
                        this.currentPage = parseInt(page_from);
                    }
                }
            },

            mounted: function () {
                let url = new URLSearchParams(window.location.search);

                this.loadCategoryFromUrl(url);
                this.loadSearchFromUrl(url);
                this.loadPageNumber(url);

                this.changeCategory(this.currentCategory);
            }
        });

    </script>

</body>

</html>